@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font{
  font-family: "Inter", sans-serif;
}

html{
  font-size: 16px;
}

*{
    margin: 0px;
    padding: 0px;
}





/* CSS about Animation */
@keyframes float {
  0%{
    transform: translateY(0);
    }
  50%{
    transform: translateY(-14px);
    }
  100%{
    transform: translateY(0);
    }
}
.mid-img{
  animation: float 3s ease-in-out infinite;
}

@keyframes glow {
  0%{
    text-shadow: 0 0 0 rgba(247, 232, 63, 0.297);
    }
  50%{
    text-shadow: 0 0 24px rgba(251,9,180,0.8);
    }
  100%{
    text-shadow: 0 0 12px rgba(145, 0, 248, 1);
    }
}
.logo{
  animation: glow 4s infinite;
}

@keyframes fadeUp {
  from{
    opacity: 0;
    transform: translateY(50px);
    }
  to{
    opacity: 1;
    transform: translateY(0);
    }
}
.hero-title{
  animation: fadeUp 1s ease forwards;
}

.hero-description{
  animation: fadeUp 1.2s ease forwards;
}

.buttons{
  animation: fadeUp 1.4s ease forwards;
}
.hero-section,
.about-section,
.why-choose-section,
.featured-episodes-section,
.host-section{
  animation: fadeUp 0.9s ease forwards;
}

@keyframes pulse {
  0%{
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0,255,136,0.6);
  }
  70%{
    transform: scale(1.05);
    box-shadow: 0 0 0 14px rgba(0,255,136,0);
  }
  100%{
    transform: scale(1.2);
  }
}
.play-btn{
  animation: pulse 2s infinite;
}









/* CSS about button hober effect */
.hover-effect{
  transition: transform 0.3s ease-in-out,0.2s ease-in-out;
}
.hover-effect:hover{
  transform: translateY(-4px);
  box-shadow: 0 0 10px rgba(251, 9, 180, 1);
}




/* Common used CSS */
.btn-primary{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.spotify-btn a, .subscribe-btn-1 a, .subscribe-btn-2 a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    gap: 8px;
}
.content-section, .footer{
    background: rgba(26, 11, 46, 1);
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-container, .footer-elements{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}
.card-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgba(255, 255, 255, 1)
}
.card-description, .host-description, .copyright{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
}






/* Navigation related CSS */
.navigation{
    background-color: rgba(26, 11, 46, 1);
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.logo span{
    background: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 32px;
    
}
.nav-links a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    transition: 0.3s;
}
.hover-effect-nav:hover {
    box-shadow: 0 0 20px rgba(255,78,205,0.6);
}
.hamburger-menu-icon{
    display: none;
    color: rgba(255, 255, 255, 1);
}






/* CSS about Hero section */
.hero-section {
    width: 100%;
}
.background-img{
    border-top: 1px solid rgba(255, 255, 255, 0.188);
    width: 100%;
    min-height: 100vh; 
    min-height: 100svh;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 80px 20px;
    box-sizing: border-box;
}
.mid-img{
    position: absolute;
    z-index: 2;
    top: 10%;
    width: 350px;
    max-width: 60vw;
    height: auto;
}
.top-img{
    position: absolute;
    z-index: 3;
    top: 22%;
    width: 116.67px;
    max-width: 15vw;
    height: auto;
}
.new-icon{
    background-color: rgba(0, 255, 136, 1);
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    color: rgba(26, 11, 46, 1);
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 1000px;
    z-index: 4;
    position: absolute;
    top: 12%;
    left: 55%;
}
.banner-details{
    text-align: center;
    position: absolute;
    top: 65%;
}
.hero-title{
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 73px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.hero-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
    margin-bottom: 24px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.subscribe-btn-2{
    padding: 12.5px 20px;
    border-radius: 10000px;
    border: 1px solid rgba(0, 255, 136, 1);
    background-color: transparent;
    cursor: pointer;
}
.subscribe-btn-2 a{
    color: rgba(0, 255, 136, 1);
    display: flex;
    align-items: center;
    gap: 8px;
}
.subscribe-btn img{
    width: 18px;
    height: 14px;
}





/* CSS about about-section  */
.about-section{
    padding-top: 50px;
}
.about-title{
    margin-bottom: 16px ;
}
.about-description{
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    margin-bottom: 80px;
}
.line{
    border-top: 1px solid rgba(255, 255, 255, 1);
}
.statistics-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.stat-item{
    padding: 0 10px;
    transition: transform 0.3s ease;
}
.stat-item:hover{
    transform: translateY(-6px) scale(1.05);
}

.stat-number{
    font-size: 3rem;
    font-weight: 900;
    line-height: 58px;
    color: rgba(0, 255, 136, 1);
    margin-bottom: 16px;
    letter-spacing: 2px;
}
.stat-description{
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1)
}








/* CSS about why choose Section   */
.why-choose-section{
    background: rgba(35, 14, 61, 1);
}
.why-choose-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.card-style{
    text-align: start;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    transition: 0.3s;
}

/* Hover Effect of card */
.card-style:hover{
    transform: translateY(-9px);
}
.Premium-Audio-Quality{
    grid-row: 1/span 2;
}
.Mobile-Friendly{
    grid-column: 2/span 2;
}
.Global-Community{
    grid-column: 2/span 2;
}
.Exclusive-Interviews{
    grid-column: 1/span 2;
}







/* CSS about feature episode section  */
.featured-episodes-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.featured-episodes-card{
    background: rgba(37, 13, 68, 1);
    border-radius: 24px;
    overflow: hidden;
    transition: 0.3s;
}
/* feature episode card hover  */
.featured-episodes-card:hover {
    transform: translateY(+8px);
}
.yt-thumbnail{
    position: relative;
    width: 100%;
    aspect-ratio: 32/18;
    overflow: hidden;
}
.yt-thumbnail iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.play-btn{
    position: absolute;
    top: 40%;
    left: 42%;
    transform: translate(-50%, -50%);
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 18px;
    border-radius: 50%;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.card-details {
    text-align: start;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.duration {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 255, 136, 1);
    display: flex;
    gap: 7px;
    align-items: center;
}











/* CSS about host section  */
.host-section{
    padding-top: 0;
}
.host-details{
    display: flex;
    text-align: start;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    transition: 0.4s ease;
}
/* hover effect about host details  */
.host-details:hover{
    box-shadow: 0 0 30px rgba(145,0,248,0.4);
}
.host-photo{
    transition: 0.3s ease;
}
/* Hover Effect of host photos */
.host-photo:hover{
    transform: scale(1.2);
}
.host-name{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}
.host-description{
    margin-bottom: 16px;
}
.host-social-icons{
    display: flex;
    gap: 8px;
    align-items: center;
}
.host-social-icons a{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
/* hover effect of host social links */
.host-social-icons a:hover{
    border-color: rgba(251, 9, 180, 1);
    transform: scale(1.2);
}
.host-social-icons img{
    width: 16px;
    height: 16px;
}






/* CSS about footer section  */
.footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.footer-title{
    font-size: 3.75rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}
.footer-title span{
    background: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-social-links{
    display: flex;
    justify-content: center;
    gap: 42px;
    align-items: center;
    margin-bottom: 32px;
}
/* Hover Effect of footer social link element */
.footer-social-link-element {
    transition: transform 0.3s ease;
}
.footer-social-link-element:hover{
    transform: translateY(-6px) scale(1.1);
}
.footer-social-link-element a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.6;
    display: flex;
    align-items: center;
    gap: 10px;
}














@media screen and (max-width: 576px) {
    html{
        font-size: 12px;
    }
    .nav-links, .subscribe-btn-1{
        display: none;
    }
    .navigation{
        padding: 16px 20px;
    }
    .hamburger-menu-icon{
        display: block;
        cursor: pointer;
    }
    .background-img{
        background-image: url("../assets/hero-bg-small.png");
        margin-bottom: 0;
    }
    .mid-img{
        width: 55vw;
        max-width: 200px;
        top: 18%;
    }
    .top-img{
        width: 12vw;
        max-width: 46.67px;
        top: 25%;
    }
    .new-icon{
        top: 20%;
        left: 58%;
    }
    .banner-details{
        top: 50%;
    }
    .about-description{
        margin-bottom: 40px;
    }
    .statistics-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
        margin-top: 40px;
    }
    .about-details{
        padding: 40px 20px;
    }
    .about-section{
        margin-top: 0;
    }
    .stat-item{
        padding: 0px;
    }
    .why-choose-card-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .content-section, .footer {
        padding: 40px 20px;
    }
    .featured-episodes-card-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .title{
        margin-bottom: 16px;
    }
    .host-details{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .host-introduction  {
        text-align: center;
    }
    .host-social-icons{
        justify-content: center;
    }
    .footer-title{
        margin-bottom: 24px;
    }
    .footer-social-links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
    .footer{
        background-image: url(../assets/Footer-bg-small.png);
    }
}