@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
}
html {
  font-size: 16px;
}

*{
    margin: 0px;
    padding: 0px;
}

/* Common used CSS */
.btn-primary{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
    font-size: 1rem;
font-weight: 600;
line-height: 19px;
color: rgba(255, 255, 255, 1);
cursor: pointer;
}
.spotify-btn a, .subscribe-btn-1 a, .subscribe-btn-2 a{
    text-decoration: none;
        font-size: 1rem;
font-weight: 600;
line-height: 19px;
color: rgba(255, 255, 255, 1);
display: flex;
    align-items: center;
    gap: 8px;
}
.content-section, .footer{
    background: rgba(26, 11, 46, 1);
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-container, .footer-elements{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-size: 3rem;
font-weight: 700;
line-height: 58px;
color: rgba(255, 255, 255, 1);
margin-bottom: 40px;
}
.card-title{
    font-size: 24px;
font-weight: 700;
line-height: 29px;
color: rgba(255, 255, 255, 1)
}
.card-description, .host-description, .copyright{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgba(255, 255, 255, 1);
opacity: 0.6;
}
.hover-effect{
    transition: 0.2s ease-in-out;
}
.hover-effect:hover{
    box-shadow: 0 0 10px rgba(251, 9, 180, 1);
}





/* Navigation related CSS */
.navigation{
    background-color: rgba(26, 11, 46, 1);
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.logo span{
  background: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline-block; */
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 32px;
    
}
.nav-links a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    transition: 0.3s;
}
.hover-effect-nav:hover {
    box-shadow: 0 0 20px rgba(255,78,205,0.6);
}
.hamburger-menu-icon{
    display: none;
    color: rgba(255, 255, 255, 1);
}


/* Hero related CSS */
.hero-section {
    width: 100%;
    height: 100vh;
}
.background-img{
    border-top: 1px solid rgba(255, 255, 255, 1);
    width: 100%;
    height: 100vh;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.mid-img{
    /* border: 1px solid red; */
    position: absolute;
    /* max-width: 21.875rem; */
    /* max-width: 50vw; */
    z-index: 2;
    top: 10%;
}
.top-img{
    /* border: 1px solid red; */
    position: absolute;
    /* max-width: 7.25rem; */
    z-index: 3;
    top: 22%;
}
.banner-details{
    /* border: 1px solid red; */
    text-align: center;
    position: absolute;
    top: 65%;
}
.hero-title{
    font-size: 3.75rem;
font-weight: 800;
line-height: 73px;
color: rgba(255, 255, 255, 1);
letter-spacing: 2px;
margin-bottom: 8px;
}
.hero-description{
    font-size: 16px;
font-weight: 400;
line-height: 19px;
color: rgba(255, 255, 255, 1);
opacity: 0.8;
margin-bottom: 24px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.subscribe-btn-2{
    padding: 12.5px 20px;
    border-radius: 10000px;
    border: 1px solid rgba(0, 255, 136, 1);
    /* color: rgba(0, 255, 136, 1); */
    /* font-size: 16px;
    font-weight: 600;
    line-height: 19px; */
    background-color: transparent;
    cursor: pointer;
}
.subscribe-btn-2 a{
    color: rgba(0, 255, 136, 1);
    display: flex;
    align-items: center;
    gap: 8px;
}
.subscribe-btn img{
    width: 18px;
height: 14px;
}




.about-section{
    padding-top: 50px;
}

.about-title{
margin-bottom: 16px ;
}
.about-description{
    font-size: 1rem;
font-weight: 300;
line-height: 20px;
color: rgba(255, 255, 255, 1);
opacity: 0.8;
margin-bottom: 80px;
}
.line{
    border-top: 1px solid rgba(255, 255, 255, 1);
}
.statistics-container{
    margin-top: 80px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.stat-item{
    padding: 0 10px;
}
.stat-number{
    font-size: 3rem;
font-weight: 900;
line-height: 58px;
color: rgba(0, 255, 136, 1);
margin-bottom: 16px;
letter-spacing: 2px;
}
.stat-description{
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 1rem;
font-weight: 400;
line-height: 20px;
color: rgba(255, 255, 255, 1)
}






.why-choose-section{
    background: rgba(35, 14, 61, 1);
}
.why-choose-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    /* text-align: start; */
    
}
.card-style{
    text-align: start;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    transition: 0.3s;

}

/* Hover Effect */
.card-style:hover{
    transform: translateY(-9px);
}
.card-style img{
    /* max-width: 60px; */
}
.Premium-Audio-Quality{
    grid-row: 1/span 2;
}
.Mobile-Friendly{
    grid-column: 2/span 2;
}
.Global-Community{
    grid-column: 2/span 2;
}
.Exclusive-Interviews{
    grid-column: 1/span 2;
}
.why-choose-card-title{
}
.why-choose-card-description{
    
}




/* .featured-episodes-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
} */
/* .featured-episodes-card{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
} */
/* .featured-episodes-card {
    background: #2a0f47;
    border-radius: 18px;
    overflow: hidden;
    transition: 0.3s;
}
.featured-episodes-card:hover {
    transform: translateY(-6px);
}
.card-details{
    text-align: start;
    
    
    padding: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.youtube-video{
    margin-bottom: 24px;
    padding: 1px;
} */
.featured-episodes-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border: 1px solid red;
    /* margin-bottom: 120px; */
}
.featured-episodes-card{
    background: rgba(37, 13, 68, 1);
    border-radius: 24px;
    overflow: hidden;
    transition: 0.3s;
}

.featured-episodes-card:hover {
    transform: translateY(+8px);
}

.yt-thumbnail{
    position: relative;
    width: 100%;
    aspect-ratio: 32/18;
    overflow: hidden;
}

.yt-thumbnail iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    /* padding: 14px 20px; */
    padding: 18px;
    border-radius: 50%;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.card-details {
    text-align: start;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.duration {
    font-size: 16px;
font-weight: 600;
line-height: 24px;
color: rgba(0, 255, 136, 1);
/* border: 1px solid red; */

    display: flex;
    gap: 7px;
    align-items: center;
}

.duration img {
    /* width: 20px; */
}

.host-section{
    padding-top: 0;
}
.host-details{
    display: flex;
    text-align: start;
    align-items: center;
    gap: 24px;
    border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 40px;
}

/* Hover Effect */
.host-photo{
    transition: 0.3s ease;
}
.host-photo:hover{
    transform: scale(1.2);
}
.host-name{
    font-size: 32px;
font-weight: 700;
line-height: 39px;
color: rgba(255, 255, 255, 1);
margin-bottom: 16px;
}
.host-description{
    margin-bottom: 16px;
}
.host-social-icons{
    display: flex;
    gap: 8px;
    align-items: center;
}
.host-social-icons a{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.host-social-icons a:hover{
    border-color: rgba(251, 9, 180, 1);
    transform: scale(1.2);
}

.host-social-icons img{
    width: 16px;
    height: 16px;
}



.footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 4307px; */
    text-align: center;

}
.footer-title{
      font-size: 3.75rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 32px;
}
.footer-title span{
  background: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline-block; */
}
.footer-social-links{
    display: flex;
    justify-content: center;
    gap: 42px;
    align-items: center;
    margin-bottom: 32px;

}
/* Hover Effect */
.footer-social-link-element {
    transition:  0.3s;
}
.footer-social-link-element:hover{
    transform: translateY(+8px);
}

.footer-social-link-element a{
    text-decoration: none;
        font-size: 1rem;
font-weight: 500;
line-height: 19px;
color: rgba(255, 255, 255, 1);
opacity: 0.6;
display: flex;
    align-items: center;
    gap: 10px;
}

.footer-social-link-element a{
    
}















@media screen and (max-width: 576px) {
      html{
        font-size: 12px;
    }
    .nav-links, .btn-primary{
        display: none;
    }
    .navigation{
        padding: 16px 20px;
    }
    .hamburger-menu-icon{
        display: block;
        cursor: pointer;
    }

      .background-img{
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
    .mid-img{
    width: 200px;
height: 200px;
    }
    .top-img{
        width: 46.67px;
height: 70px;
    }
     
    .statistics-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
    }
    .about-details{
        padding: 40px 20px;
    }
    .stat-item{
        padding: 0px;
    }
    .why-choose-card-container {
    display: flex;
    flex-direction: column;

    /* grid-template-rows: repeat(3, 1fr); */
    gap: 16px;
    /* text-align: start; */
}
.section-container{
    /* padding: 40px; */
}
.content-section, .footer {
    background: rgba(26, 11, 46, 1);
    padding: 40px 20px;
}
.featured-episodes-card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title{
    margin-bottom: 24px;
}
.host-details{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.host-introduction  {
    text-align: center;
}
.host-social-icons{
    justify-content: center;
}
.footer-title{
    margin-bottom: 24px;
}
.footer-social-links{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
}
.footer{
    background-size: contain;
}
}