@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
}
html {
  font-size: 16px;
}

*{
    margin: 0px;
    padding: 0px;
}

/* Common used CSS */
.btn-primary{
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border: none;
}
.content-section{
    background: rgba(26, 11, 46, 1);
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-size: 3rem;
font-weight: 700;
line-height: 58px;
color: rgba(255, 255, 255, 1);
margin-bottom: 40px;
}
.card-title{
    font-size: 24px;
font-weight: 700;
line-height: 29px;
color: rgba(255, 255, 255, 1)
}
.card-description{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
color: rgba(255, 255, 255, 1);
opacity: 0.6;
}




/* Navigation related CSS */
.navigation{
    background-color: rgba(26, 11, 46, 1);
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.logo span{
  background: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline-block; */
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 32px;
    
}
.nav-links a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.hamburger-menu-icon{
    display: none;
    color: rgba(255, 255, 255, 1);
}


/* Hero related CSS */
.hero-section {
    width: 100%;
    height: 100vh;
}
.background-img{
    border-top: 1px solid rgba(255, 255, 255, 1);
    width: 100%;
    height: 100vh;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
/* .mid-img{
    border: 1px solid red;
    position: absolute;
    max-width: 21.875rem;
    max-width: 50vw;
    z-index: 2;
    top: 10%;
}
.top-img{
    border: 1px solid red;
    position: absolute;
    max-width: 7.25rem;
    z-index: 3;
    top: 25%;
} */
.hero-title{
    /* margin: 50px; */
}




.about-section{
    padding-top: 50px;
}

.about-title{
margin-bottom: 16px ;
}
.about-description{
    font-size: 1rem;
font-weight: 300;
line-height: 20px;
color: rgba(255, 255, 255, 1);
opacity: 0.8;
margin-bottom: 80px;
}
.line{
    border-top: 1px solid rgba(255, 255, 255, 1);
}
.statistics-container{
    margin-top: 80px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.stat-item{
    padding: 0 10px;
}
.stat-number{
    font-size: 3rem;
font-weight: 900;
line-height: 58px;
color: rgba(0, 255, 136, 1);
margin-bottom: 16px;
letter-spacing: 2px;
}
.stat-description{
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 1rem;
font-weight: 400;
line-height: 20px;
color: rgba(255, 255, 255, 1)
}






.why-choose-section{
    background: rgba(35, 14, 61, 1);
}
.why-choose-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    /* text-align: start; */
    
}
.card-style{
    text-align: start;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;

}
.card-style img{
    /* max-width: 60px; */
}
.Premium-Audio-Quality{
    grid-row: 1/span 2;
}
.Mobile-Friendly{
    grid-column: 2/span 2;
}
.Global-Community{
    grid-column: 2/span 2;
}
.Exclusive-Interviews{
    grid-column: 1/span 2;
}
.why-choose-card-title{
}
.why-choose-card-description{
    
}




/* .featured-episodes-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
} */
/* .featured-episodes-card{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
} */
/* .featured-episodes-card {
    background: #2a0f47;
    border-radius: 18px;
    overflow: hidden;
    transition: 0.3s;
}
.featured-episodes-card:hover {
    transform: translateY(-6px);
}
.card-details{
    text-align: start;
    
    
    padding: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.youtube-video{
    margin-bottom: 24px;
    padding: 1px;
} */
.featured-episodes-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border: 1px solid red;
    margin-bottom: 120px;
}
.featured-episodes-card{
    background: rgba(37, 13, 68, 1);
    border-radius: 24px;
    overflow: hidden;
    transition: 0.3s;
}

.featured-episodes-card:hover {
    transform: translateY(+8px);
}

.yt-thumbnail{
    position: relative;
    width: 100%;
    aspect-ratio: 32/18;
    overflow: hidden;
}

.yt-thumbnail iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    /* padding: 14px 20px; */
    padding: 18px;
    border-radius: 50%;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.card-details {
    text-align: start;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}





.duration {
    font-size: 16px;
font-weight: 600;
line-height: 24px;
color: rgba(0, 255, 136, 1);
/* border: 1px solid red; */

    display: flex;
    gap: 7px;
    align-items: center;
}

.duration img {
    /* width: 20px; */
}













@media screen and (max-width: 576px) {
      html{
        font-size: 12px;
    }
    .nav-links, .btn-primary{
        display: none;
    }
    .navigation{
        padding: 16px 20px;
    }
    .hamburger-menu-icon{
        display: block;
        cursor: pointer;
    }
    .background-img{
            width: ;
    height: 466px;
    }
    .mid-img{
    /* max-width: 40vw; */
    }
    .statistics-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
    }
    .about-details{
        padding: 40px 20px;
    }
    .stat-item{
        padding: 0px;
    }

}